- breadcrumb :folder, @folder

%table.table
  %thead
    %tr
      %th{style: "width:1em;"}
      %th 名前
      %th 更新
      %th 共有中のユーザー
      %th
  %tbody
    = render @folder.all_children

= render 'modal_folder'