.btn-group.pull-right
  %button.btn.btn-default
    = link_to '#', title: "ファイルのアップロード" do
      %i.glyphicon.glyphicon-open-file
  %button.btn.btn-default
    = link_to '#', title: "フォルダの新規作成" do
      %i.glyphicon.glyphicon-folder-close
